**
!package.json
!package-lock.json
!vite.config.ts
!index.html
!tsconfig.json
!env.d.ts
!app/
!app/**
!components/
!components/**
!lib/
!lib/**
!licenses/
!licenses/**
!public/
!public/**
!scripts/
!scripts/**
!README-LOCAL.md
!START.mjs
!START-HERE.html
!LICENSE
**/.DS_Store
**/.env*
**/*.pem
**/keys/**
